In [1]:
from datetime import datetime, timedelta
import pandas as pd

# Function to convert time to 30-minute intervals starting from 12:00am
def time_to_index(time_str):
    time_obj = datetime.strptime(time_str, "%H:%M:%S")  # Updated format string
    minutes_since_midnight = (time_obj - time_obj.replace(hour=0, minute=0, second=0, microsecond=0)).total_seconds() / 60
    return int(minutes_since_midnight // 30)


# Read the lines from the txt file
with open('sample-data.txt', 'r') as file:
    lines = file.readlines()

# Create a dictionary to store the data
data = {}

# Parse the lines and fill the dictionary
for line in lines:
    values = line.split()
    hot_water_needed = int(values[0])
    date = values[1]
    time = values[2][:8]  # Extract only the HH:MM:SS part

    index = (date, time_to_index(time))
    if index not in data:
        data[index] = hot_water_needed
    else:
        data[index] |= hot_water_needed

# Find the range of dates and times
dates = sorted(set(date for date, _ in data.keys()))
times = sorted(set(index[1] for index in data.keys()))

# Create the 2D array
today_array = [[data.get((date, time), 0) for time in times] for date in dates]

print(today_array)
# Print the result
for i, date in enumerate(dates):
    print(f"\n{date}:\n", today_array[i])

# Now, 'today_array' contains the desired 2D array

print(time_to_index('01:52:14'))

df = pd.DataFrame(today_array)
df = df.T
df.head()

[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0], [0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0], [1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1], [1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0]]

2024-03-04:
 [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0]

2024-03-05:
 [0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0]

2024-03-06:
 [1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1]

2024-03-07:
 [1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0]
3

C:\Users\kylem\AppData\Local\Temp\ipykernel_50864\2364648855.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,1,0,1,1,1,0,0
1,0,1,1,0,1,0,1,0,1,0,...,1,1,0,0,0,0,1,0,1,0
2,1,0,0,0,1,1,0,0,0,0,...,0,0,1,1,1,0,0,0,1,1
3,1,0,1,0,0,0,0,0,0,1,...,0,1,0,1,1,1,0,0,0,0